.company {
  background: var(--black3);
  padding: 100px 40px;
}

.company-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
}

/* LEFT */
.company-title {
  font-family: 'Cormorant Garamond', serif;
    font-size: 64px;
  font-weight: 400;
  color: var(--diamond-bright);
  margin-bottom: 20px;
}

.company-text {
  font-size: 14px;
  color: var(--white);
  line-height: 1.8;
  margin-bottom: 15px;
}

/* RIGHT SLIDER */
.slider {
  position: relative;
  height: 400px;
  border-radius: 14px;
  overflow: hidden;
}

/* SLIDES */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

/* LABEL */
.image-label {
  position: absolute;
  bottom: 20px;
  right: 20px;

  font-size: 14px;
  color: var(--white);

  background: rgba(0,0,0,0.6);
  padding: 6px 12px;
  border-radius: 6px;
}