<section class="benefits">

  <div class="benefits-container">

    <!-- LEFT -->
    <div class="benefits-left">
      <h2>Precision Protection by Diamondz</h2>
      <p>
        Premium PPF protects your car from scratches, UV damage,
        and environmental wear while maintaining showroom shine.
      </p>
    </div>

    <!-- RIGHT GRID -->
    <div class="benefits-grid">

      <div
        class="benefit-card"
        #benefitCard
        *ngFor="let item of benefits"
      >

        <lucide-icon
          [img]="item.icon"
          class="icon">
        </lucide-icon>

        <div>
          <p>{{ item.title }}</p>

          <p class="benefit-description" *ngIf="item.description">
            {{ item.description }}
          </p>
        </div>

      </div>

    </div>

  </div>

</section>