<ng-container *ngIf="!loading && pageData; else waitingState">

  <div class="gloss-wrapper">

    <div class="gloss-container">

      <!-- HEADER -->
      <div class="header">

        <h1>{{ pageData.title }}</h1>

        <p>{{ pageData.subtitle }}</p>

      </div>

      <div class="content">

        <!-- INTRO -->
        <div class="intro-card">

          <!-- TOP -->
          <div class="intro-top">

            <img
              [src]="introImage"
              alt="PPF Image"
            />

            <div class="intro-text">

              <h2>{{ pageData.introTitle }}</h2>

              <p>
                {{ pageData.introDesc }}
              </p>

            </div>

          </div>

          <!-- FEATURES -->
          <div class="intro-features">

            <div
              class="feature-row"
              *ngFor="let f of pageData.features"
            >

              <div class="icon">

                <lucide-icon
                  [img]="chevronIcon">
                </lucide-icon>

              </div>

              <div>

                <h4>{{ f.title }}</h4>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</ng-container>

<ng-template #waitingState>

  <div class="gloss-wrapper loading-state">

    <div class="gloss-container">

      <div class="header">

        <h1 *ngIf="loading">
          Loading details...
        </h1>

        <h1 *ngIf="!loading">
          Details unavailable
        </h1>

      </div>

    </div>

  </div>

</ng-template>