<!-- footer.component.html -->

<footer class="footer">

  <div class="footer-container">

    <!-- LEFT SECTION -->
    <div class="footer-about">

      <h2 class="logo">
        DIAMONDZ PPF
      </h2>

      <p class="description">
        Premium distributor of Gloss, Matte & Colored Paint Protection Films
        delivering high-quality automotive surface protection solutions.
      </p>

      <!-- CONTACT -->
      <div class="contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>Bangalore, Karnataka, India</span>
      </div>

      <div class="contact-item">
        <i class="fa-regular fa-envelope"></i>
        <span>info@ppfdistribution.com</span>
      </div>

      <div class="contact-item">
        <i class="fa-solid fa-phone"></i>
        <span>+91 9876543210</span>
      </div>


      <!-- SOCIAL -->
      <div class="social-section">

        <h3>Follow Us</h3>
        <div class="social-icons">

        <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="https://linkedin.com" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <a href="https://youtube.com" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>

        </div>

      </div>

    </div>


    <!-- QUICK LINKS -->
<div class="footer-links quick-links">

    <h3 class="footer-title">
        Quick Links
    </h3>

    <div class="custom-underline">
        <span></span>
        <span></span>
    </div>

    <ul>

        <li>
            <a
              routerLink="/">
              Home
            </a>
        </li>

        <li>
            <a
              routerLink="/products">
              Products
            </a>
        </li>

        <li>
            <a
              routerLink="/about">
              About Us
            </a>
        </li>

        <li>
            <a
              routerLink="/gallery">
              Gallery
            </a>
        </li>

        <li>
            <a
              routerLink="/contact">
              Contact
            </a>
        </li>

    </ul>

</div>


    <!-- PRODUCTS -->
    <div class="footer-links static-links">

    <h3 class="footer-title">
        Products
    </h3>

    <div class="custom-underline">
        <span></span>
        <span></span>
    </div>

    <ul>
        <li><a> TPU Gloss PPF</a></li>
        <li><a> TPU Matte PPF</a></li>
        <li><a> TPU Colored PPF</a></li>

    </ul>

    </div>


    <!-- SERVICES -->
    <div class="footer-links static-links">

    <h3 class="footer-title">
        Services
    </h3>

    <div class="custom-underline">
        <span></span>
        <span></span>
    </div>

    <ul>
        <li><a>Bulk Distribution</a></li>
        <li><a>Dealer Support</a></li>
        <li><a>PPF Consultation</a></li>
        <li><a>Fast Delivery</a></li>
        <li><a>Partner Program</a></li>
    </ul>

    </div>

  </div>


  <!-- FOOTER BOTTOM -->
  <div class="footer-bottom">

    <p>
      © 2026 DiamondZ PPF. All Rights Reserved.
    </p>

  </div>

</footer>