/* IMAGE SECTION */
.image-section {
  height: 60vh;
  background-image: url('/assets/images/ppfdetail.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay */
.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  padding: 20px;
}

.image-overlay h1 {
  font-size: 42px;
  margin: 0;
}

.image-overlay p {
  margin-top: 10px;
  color: #cbd5e1;
}

/* CONTENT SECTION */
.content-section {
  background: var(--black3);
  padding: 30px;
}

/* NAVIGATION */
.service-nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.service-nav a {
  text-decoration: none;
  color: #9ca3af;
  font-size: 14px;
  padding: 10px 14px;
  border: 1px solid #187be6;
  border-radius: 8px;
  transition: 0.3s;
  /* background: rgb(97, 100, 100); */
}

.service-nav a:hover {
  color: white;
  border-color: #3b82f6;
}

.service-nav a.active {
  color: white;
  border-color: #3b82f6;
  background: rgba(59,130,246,0.15);
}

/* ROUTED CONTENT */
.service-content {
  margin-top: 20px;
  color: white;
}